
<div style="width: 400px; position: absolute; top: 20%; left: 30%;">
  
  <h2 style="text-align: center">Seja Bem Vindo a Anama!</h2>
  
  <%= form_for(resource, as: resource_name, 
    url: session_path(resource_name),
    html: {class: "form-horizontal", role: "form"}) do |f| %>
    
    <div class="form-group">
      <label for="usuario" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <%= f.email_field :email, {class: 'form-control', placeholder: "Email", autofocus: "true"} %>
      </div>
    </div>

    <div class="form-group">
      <label for="usuario" class="col-sm-2 control-label">Senha</label>
      <div class="col-sm-10">
      <%= f.password_field :password, {class: 'form-control', placeholder: "Senha", autocomplete: "off"} %>
      </div>
    </div>

    <%= render partial: 'layouts/flash_messages' %>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %> Manter-me Conectado
            </label>
          </div>
        </div>
      </div>
    <% end -%>

    <p style="width: 100%; text-align: center">
      <%= f.submit "Entrar", {class: 'btn btn-default'} %>
    </p>
  <% end %>
  
  
  
  <%= render "usuarios/shared/links" %>
</div>