<div class="alert alert-info" role="alert">Cadastro de Usuários</div>

<%= form_for :usuario, url: usuarios_path do |f| %>
  <p>
    <%= f.text_field :usuario, {class: 'form-control', placeholder: "Nome para Contato"} %>
  </p>

  <p>
    <%= f.text_field :empresa, {class: 'form-control', placeholder: "Nome da Empresa"} %>
  </p>

  <p>
    <%= f.text_field :cnpj, {class: 'form-control', placeholder: "CNPJ"} %>
  </p>
  <p>
    <%= f.text_field :email, {class: 'form-control', placeholder: "Email"} %>
  </p>

  <p>
    <%= f.text_field :telefone, {class: 'form-control', placeholder: "Telefone"} %>
  </p>

  <p>
    <%= f.text_field :endereco, {class: 'form-control', placeholder: "Endereço"} %>
  </p>

  <p>
    <%= f.text_field :tipo_de_negocio, {class: 'form-control', placeholder: "Tipo de Negócio"} %>
  </p>
 
  <p style="width: 100%; text-align: center">
    <%= f.submit "Concluir", {class: 'btn btn-default'} %>
  </p>
<% end %>